.homeContainer{
  
    min-height: 80vh;
    min-width: 90%;
   
    /* background: url(../../assets/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg) #636363;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    /* filter: brightness(0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../../../assets/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}

.homeContainer .home{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
  
        font-weight: 500;
        padding: 0 1rem;
}

.homeContainer .home .title{
        font-size: 2.7rem;
        font-weight: 600;
        margin-bottom: 1rem;
        filter: brightness(0.7);
        
}
.homeContainer .home .title .surname{
        font-size: 2.5rem;
        font-weight: 700;
        
        margin-left: 7rem;
}
.homeContainer .home .description{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
        width: 60%;
}
.homeContainer .home .description h1{
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
        filter: brightness(0.8);
        border-bottom:  4px solid rgb(163, 52, 0);
        padding-bottom: 0.5rem;
        width: 50%;
        margin:auto;
        margin-bottom: 20px;
}
.homeContainer .home .description p{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
        width: 70%;
        margin:auto;
        margin-bottom: 20px;
        color: rgb(157, 156, 156);
        text-align: start;
        margin-top: 20px;
}
.homeContainer .home .socialMedia{
        min-width: 20%;
        margin: auto;
        display: flex;
        justify-content: space-around;
      
}
.homeContainer .home .socialMedia a{
        color: rgb(167, 167, 167);
        font-size:2rem;
        margin: 0 0.5rem;
        transition: 0.3s;
}
.homeContainer .home .socialMedia a:hover{
        color: rgb(163, 52, 0);
        transform: scale(1.2);
}
.home .title .hello{
        color: rgb(245, 246, 247);
        font-size: 1rem;
        text-align: start;
        background-color: orangered !important;
        padding: 0.5rem;
        border-radius: 5px;
        width: 120px
}

.typedtext{
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
        
        border-bottom:  4px solid rgb(102, 33, 1);
        padding-bottom: 0.5rem;
        width: 50%;
        color: rgb(126, 126, 126) !important;

}